<keyword>let</keyword>
<id-var name="$ctrl.node[1]" type="decl"></id-var>
<span ng-if="$ctrl.node[2][0] != 'AnnoC'">
	<operator>=</operator>
	<indent>
		<p-exp node="$ctrl.node[2]" context="$parent"></p-exp>
	</indent>
</span>
<span ng-if="$ctrl.node[2][0] == 'AnnoC'">
	<operator>:</operator>
	<indent collapsed="true">
		<p-ctype node="$ctrl.node[2][2]"></p-ctype>
	</indent>
	<operator>=</operator>
	<indent>
		<p-exp node="$ctrl.node[2][1]" context="$parent"></p-exp>
	</indent>
</span>
<br>
<p-exp node="$ctrl.node[3]"></p-exp>