<div class="bg-light text-muted p-2">
	<div class="row">
		<div class="col-sm-3 text-left">
			<div class="btn-group btn-group-sm">
				<span class="btn btn-light text-muted m-0" ng-click="$ctrl.toggleInputPanel()"><i class="fa fa-text-height"></i></span>
			</div>
		</div>
		<div class="col-sm-6 text-center noselect">
			<h1 class="page-title mb-0 mt-1">Human-Fungi Interface</h1>
		</div>
		<div class="col-sm-3 text-right">
			<a href="https://docs.rs/fungi-lang/" title="Official Documentation" target="_blank">
				<img src="//github.com/cuplv/adapton/raw/gh-pages/fungi-lang-logo/Fungi-lang-logo-notext-64.png" class="logo" style="height:32px">
			</a>
		</div>
	</div>
</div>
<div
	ondragover="event.stopPropagation(); event.preventDefault(); $(this).addClass('dragdrop'); event.dataTransfer.dropEffect = 'link'"
	ondragleave="event.stopPropagation(); event.preventDefault(); $(this).removeClass('dragdrop')"
	ondrop="event.stopPropagation(); event.preventDefault(); $(this).removeClass('dragdrop'); $(this).scope().$ctrl.loadFile(event.dataTransfer.files[0])">
	<div class="row">
		<div class="col-md-6 bg-darker p-0">
			<div ng-show="!$ctrl.showContext" class="w-100 full-height" ace-editor ng-model="$ctrl.input" ng-change="$ctrl.updateInput()"></div>
			<div ng-show="$ctrl.showContext" class="w-100 full-height">
				<div class="pl-3 o-80" ng-if="$ctrl.cursor.type">
					<refresh target="$ctrl.cursor.type">
						<div class="full-height v-scroll">
							<div class="container mt-3">
								<p-context node="::$ctrl.cursor.type.ctx"></p-context>
							</div>
							<div class="container mt-3">
								<hr class="mt-0">
								<b class="text-warning">&#8870;</b>
								<span class="text-muted"><span ng-bind="$ctrl.cursor.type.vis[1].tmfam"></span>::</span><span ng-bind="$ctrl.cursor.type.rule[0]"></span>
								<ng-switch on="$ctrl.cursor.type.dir[0]" class="text-warning">
									<b ng-switch-when="Synth">&rArr;</b>
									<b ng-switch-when="Check">&lArr;</b>
								</ng-switch>
								<indent>
									<div ng-if="$ctrl.cursor.type.dir[1] || $ctrl.cursor.type.clas[0] == 'Ok'">
										<p-td node="$ctrl.cursor.type.dir[1] || $ctrl.cursor.type.clas[1]"></p-td>
									</div>
								</indent>
								<div ng-if="$ctrl.cursor.type.clas[0] == 'Err'" class="mt-2">
									<label class="text-danger" ng-bind="$ctrl.cursor.type.clas[1][0]"></label>
									<operator ng-if="$ctrl.cursor.type.clas[1].length > 1">:</operator>
									<indent>
										<ng-switch on="$ctrl.cursor.type.clas[1][0]" ng-repeat="item in $ctrl.cursor.type.clas[1]" ng-if="$index">
											<id-var ng-switch-when="VarNotInScope" name="item"></id-var>
											<p-type ng-switch-when="CheckFailType" node="item"></p-type>
											<p-ceffect ng-switch-when="CheckFailCEffect" node="item"></p-ceffect>
											<p-val ng-switch-when="SynthFailVal" node="item"></p-val>
											<p-ceffect ng-switch-when="UnexpectedCEffect" node="item"></p-ceffect>
											<p-type ng-switch-when="UnexpectedType" node="item"></p-type>
											<span ng-switch-default ng-bind="item"></span>
										</ng-switch>
									</indent>
								</div>
							</div>
						</div>
					</refresh>
				</div>
			</div>
		</div>
		<div class="col-md-6 p-0">
			<div class="pretty-panel container v-scroll full-height">
				<refresh target="$ctrl.program">
					<p-exp node="::$ctrl.program"></p-exp>
				</refresh>
			</div>
		</div>
		<div style="position:absolute; bottom:1em; right:1em; opacity:.95">
			<refresh target="$ctrl.cursor.path">
				<code class="text-muted bg-dark" ng-repeat="node in $ctrl.cursor.path" ng-bind="node[0]"></code>
			</refresh>
		</div>
	</div>
</div>
<!--<div id="ast-tree"></div>-->