.page-title {
	font-size: 20px;
	letter-spacing: 2px;
}

.full-height {
	min-height: calc(100vh - 48px);
	max-height: calc(100vh - 48px);
}

.half-height {
	min-height: calc(50vh - 24px);
	max-height: calc(50vh - 24px);
}

.v-scroll {
	overflow-y: scroll;
}

.o-80 {
	opacity: .8;
}

.dragdrop {
	box-shadow: 0 0 16px #FFF;
	opacity: .5;
	border: 5px dashed #AAA;
}

.sink {
	box-shadow: 0 -4px 4px #EEE inset;
}