.keyword {
	color: var(--blue);
	font-weight: bold;
}

.lambda {
	color: var(--red);
	font-weight: bold;
}

.builtin {
	color: var(--orange);
}

.kind {
	color: var(--teal);
}

.sort {
	color: var(--cyan);
}

.prop {
	color: var(--pink);
}

.literal {
	color: var(--green);
}

.operator {
	color: var(--red);
}

.encloser {
	opacity: .8;
}

.indent {
	vertical-align: top;
}

.indent:hover {
	/*background: var(--dark);*/
	background: rgba(28, 32, 48, .4);
	box-shadow: 0 2px 14px black;
}

.indent-collapse:hover {
	display: inline-block;
	transform: scale(1.2);
}

.id-type {
	
}

.id-var {
	border-radius: 8px;
	display: inline-block;
}

.id-var.highlighted {
	box-shadow: 0 0 2px 1px var(--purple);
	transform: scale(1.05, 1.1);
	/*background: #FFF;*/
	background: var(--darkest);
}

id-var[type=decl] {
	border-bottom: 1px solid #777;
}