<div class="py-5 bg-darkest">
	<div class="container text-center">
		<div class="row">
			<div class="col-md-4">
				<a class="float-left mt-4" href="https://docs.rs/fungi-lang/" title="Fungi Documentation" target="_blank">
					<img src="/assets/img/fungi-logo-small.png" class="logo" style="height:48px">
				</a>
				<h1 class="display-4 font-code mt-2 pt-1">Fungi</h1>
			</div>
			<div class="col-md-8 text-md-left">
				<h2><small class="text-muted text-thin">An incremental computing language with precisely named cache locations.</small></h2>
			</div>
		</div>
	</div>
</div>
<div class="bg-white text-center py-1 glow-theme">
	<!--<ul class="list-inline">-->
	<!--	<li class="list-inline-item">-->
	<!--		<a href="#">Examples</a>-->
	<!--	</li>-->
	<!--	<li class="list-inline-item">-->
	<!--		<a href="#">Quickstart</a>-->
	<!--	</li>-->
	<!--	<li class="list-inline-item">-->
	<!--		<a href="#">Documentation</a>-->
	<!--	</li>-->
	<!--</ul>-->
</div>
<div class="container text-center pt-5">
	<div class="row">
		<div class="col-md-6 text-md-left mb-5">
			<h3 class="text-spread mx-4">Features</h3>
			<hr>
			<ul class="list-group list-group-dark">
				<li class="list-group-item">
					<h5 class="text-thin">Comprehensive type system</h5>
				</li>
				<li class="list-group-item">
					<h5 class="text-thin">Purely functional effect representation</h5>
				</li>
				<li class="list-group-item">
					<h5 class="text-thin">Implemented with <a href="https://rust-lang.org" target="_blank">Rust</a> and <a href="http://adapton-lang.org" target="_blank">Adapton</a></h5>
				</li>
			</ul>
			<hr>
			<h4 class="mx-4"><a href="https://docs.rs/fungi-lang/">Language Documentation</a></h4>
		</div>
		<div class="col-md-6 text-md-right mb-5">
			<h3 class="text-spread mx-4">Examples</h3>
			<hr>
			<div style="max-height:40vh; overflow-y:scroll">
				<ul class="list-group list-group-dark">
					<li class="list-group-item clickable py-0" ng-repeat="example in $ctrl.examples">
						<div class="row" ng-click="$ctrl.viewExample(example, $event)">
							<div class="col-8 text-left">
								<p class="font-code mb-0" ng-bind="example.name"></p>
							</div>
							<div class="col-4 text-center">
								<i class="fa fa-arrow-circle-right text-muted"></i>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!--<a href="https://docs.rs/fungi-lang/" title="Fungi Documentation" target="_blank">-->
<!--	<img src="/assets/fungi-logo.png" class="logo" style="height:32px">-->
<!--</a>-->