.page-title {
	font-size: 20px;
	letter-spacing: 2px;
}

.full-height {
	min-height: calc(100vh - 48px);
	max-height: calc(100vh - 48px);
}

.half-height {
	min-height: calc(50vh - 24px);
	max-height: calc(50vh - 24px);
}

.v-scroll {
	overflow-y: scroll;
}

.o-80 {
	opacity: .8;
}

.dragdrop {
	box-shadow: 0 0 16px #FFF;
	opacity: .5;
	border: 5px dashed #AAA;
}

.sink {
	box-shadow: 0 -4px 4px var(--gray-dark) inset;
}

.logo {
	border-radius: 40%;
}

.logo:hover {
	border-radius: 0;
	transform: scale(1.1);
}

.list-group-dark .list-group-item {
	background: rgba(0,0,0, .1);
}

.list-group-dark .list-group-item.clickable:hover {
	background: rgba(255,255,255, .1);
}

.list-group-dark .list-group-item.clickable:hover .fa {
	color: var(--yellow) !important;
	transform: translateX(.5em);
}

.text-spread {
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: 2px;
}

.glow-theme {
	box-shadow: -.5em 0 2em var(--blue);
}