p-handle.error {
	box-shadow: 0 0 3px 2px rgba(200, 30, 20, .8);
}

p-handle.selected {
	display: inline-block;
	box-shadow: 0 0 10px white;
	background: rgba(255, 255, 255, .1);
}

.keyword {
	color: var(--yellow);
	font-weight: bold;
}

.keyword-module {
	font-weight: normal;
}

.keyword-exp {
	color: var(--blue);
}

.keyword-primapp {
	color: var(--blue);
}

.keyword-val {
	color: var(--red);
}

.keyword-type {
	color: var(--cyan);
}

.keyword-kind {
	color: var(--teal);
}

.keyword-sort {
	color: var(--purple);
}

.keyword-index {
	color: var(--orange);
	font-weight: normal;
}

.keyword-prop {
	color: var(--secondary);
}

.keyword-tcons {
	color: var(--orange);
	font-weight: normal;
}

.keyword-ctype {
	color: var(--pink);
}

.keyword-ceffect {
	color: var(--pink);
}

.keyword-error {
	color: var(--red);
}

.literal {
	color: var(--green);
}

.operator {
	color: var(--red);
}

.encloser {
	opacity: .8;
}

.indent {
	vertical-align: top;
}

.indent:hover {
	/*background: var(--dark);*/
	background: rgba(28, 32, 48, .4);
	box-shadow: 0 2px 14px black;
}

.indent-collapse:hover {
	display: inline-block;
	transform: scale(1.2);
}

.id-type {
	
}

.id-var {
	border-radius: 8px;
	display: inline-block;
}

.id-var.highlighted {
	box-shadow: 0 0 2px 1px var(--purple);
	transform: scale(1.05, 1.1);
	/*background: #FFF;*/
	background: var(--darkest);
}

id-var[type=decl], id-type[type=decl], id-name[type=decl] {
	border-bottom: 1px solid #777;
}