<!DOCTYPE html>
<html>
<head>
<title>Human-Fungi Interface</title>

<%- include('common/head.ejs') %>

<script src="/bundle/rust.js"></script>
<script src="/bundle/module.js"></script>
<script src="/bundle/app.js"></script>
<link rel="stylesheet" href="/bundle/app.css">

</head>
<body class="bg-darkest font-code">
	<hfi-app></hfi-app>
</body>
</html>
