<!DOCTYPE html>
<html>
<head>
<title>Fungi Programming Language</title>

<%- include('common/head.ejs') %>

<script src="/bundle/rust.js"></script>
<script src="/bundle/examples.js"></script>
<script src="/bundle/module.js"></script>
<script src="/bundle/app.js"></script>
<link rel="stylesheet" href="/bundle/app.css">

</head>
<body class="bg-darker bg-tree">
	<landing-app></landing-app>
</body>
</html>
