<div class="bg-light text-muted p-2">
	<div class="row">
		<div class="col-sm-3 text-left pl-4">
			<a href="/" title="Fungi Homepage">
				<img src="/assets/img/fungi-logo-small.png" class="logo" style="height:32px">
			</a>
		</div>
		<div class="col-sm-6 text-center noselect">
			<h1 class="page-title mb-0 mt-1">Human-Fungi Interface</h1>
		</div>
		<div class="col-sm-3 text-right pr-4">
			<div class="btn-group btn-group-sm">
				<span class="btn m-0" ng-class="'btn-outline-'+($ctrl.showingTraces ? 'info' : 'success')" ng-click="$ctrl.toggleTraces()">
					<i class="fa fa-fw no-transition" ng-class="'fa-'+($ctrl.showingTraces ? 'stop' : 'play')"></i>
				</span>
			</div>
		</div>
	</div>
</div>
<div ng-if="!$ctrl.loading">
	<hfi-pretty-page ng-if="!$ctrl.showingTraces" input="$ctrl.input" program="$ctrl.program"></hfi-pretty-page>
	<hfi-trace-page ng-if="$ctrl.showingTraces" program="$ctrl.program" traces="ctrl.traces"></hfi-trace-page>
</div>
<div class="text-center py-2 pt-3 m-0 bg-dark o-8" style="position:fixed; top:30vh; left:0; right:0" ng-if="$ctrl.loading">
	<h3 class="text-muted">Loading...</h3>
</div>
