<!DOCTYPE html>
<html>
<head>
<title>Crikey!</title>

<%- include('common/head.ejs') %>

<link rel="stylesheet" type="text/css" href="/bundle/app.css">

</head>
<body>
	<div class="text-center pt-5">
		<br>
		<h3>Something unexpected happened.</h3>
		<h1><%= status %></h1>
	</div>
</body>
</html>
