<!DOCTYPE html>
<html>
<head>
<title>Human-Fungi Interface</title>

<%- include('common/head.ejs') %>

<script src="/bundle/module.js"></script>
<script src="/bundle/app.js"></script>
<link rel="stylesheet" href="/bundle/app.css">

</head>
<body>
	<app></app>
</body>
</html>
